RewriteEngine on

RewriteRule ^admin$ /admin.html [R=301,L]
RewriteRule ^admin/$ /admin.html [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php

